@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.flexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.icon:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease; 
}

.marginCero {
    margin: 0 !important;
}


/* .cardAnimation {
    scroll-timeline-name: --revealing-image;
    animation-name: show;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
} */